.center-showToast {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toast {
    visibility: visible;
    width: 20%;
    height: 45px;
    background-color: #333;
    color: #fff;
    /*text-align: center;*/
    border-radius: 4px;
    position: fixed;
    z-index: 1;
    left: 79%;
}

.text-style {
    color: red;
    text-transform: uppercase;
    float: right;
}

a:hover {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

a.nounderline:link {
    text-decoration: none;
}

a.cancel:hover {
    transform: scale(1.5, 1.25);
    -moz-transform: scale(1.5, 1.25);
    -ms-transform: scale(1.5, 1.25);
    -webkit-transform: scale(1.5, 1.25);
    -o-transform: scale(1.5, 1.25);
    background-color: #666;
}

.expand-slide {
    opacity: 0;
    transition: all 2s;
}

.expand-slide.open {
    opacity: 1;
}