<!DOCTYPE html>

<html lang="en">

<head>
    <title>Spinner</title>

    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="../app.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../CSS/spinner.css">
    <link rel="stylesheet" type="text/css" href="../CSS/utility.css">

</head>

<body>
    <a href="cards.html" class="padding-2x">Cards</a>
    <a href="dialog.html" class="padding-2x">Dialog</a>
    <a href="gridview.html" class="padding-2x">Grid View</a>
    <a href="tiles.html" class="padding-2x">Tiles</a>
    <a href="toast.html" class="padding-2x">Toast</a>
    <a href="widget-card.html" class="padding-2x">Widget Card</a>
    <a href="spinner.html" class="padding-2x">Spinner</a>
    <a href="photosGrid.html" class="padding-2x">Photos Grid</a>


    <div ng-app="app">
        <div ng-controller="ctrlSpinner">
            <div class="center-text text-style"> Spinner </div>
            <div class="center-spinner ">
                <div class="form-inline">
                    <button class="btn btn-info btn-lg" ng-click="upSpinner()"><i class="material-icons settings">add</i></button>
                    <input type="text" class="form-control input-lg text-center" ng-model="addSubtractNumber" placeholder="0" readonly />
                    <button class="btn btn-danger btn-lg" ng-click="downSpinner()"><i class="material-icons settings">remove</i></button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>